#homepage {
    text-align: center;
    background-color: bisque;
    margin: 0 auto;
}

#enter {
    display: block;
    text-align: center;
    width: 400px;
    height: 400px;
    padding-left: 38%;    
}

#submitEntry {
    margin-top: 10px;
}

#innerSet {
    margin-top: 10px;
}

#infoForm {
    width: 380px;
    margin-top: 20px;
    border: 3px solid goldenrod;
    box-shadow: 0 0 10px #2c2c2c;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    color: black;
    background-color: bisque;
    border-radius: 20px;
}

#searchDiv {
    display: block;
    text-align: center;
    width: 400px;
    height: 400px;
    padding-left: 38%;   
}

#search {
    width: 380px;
    margin-top: 20px;
    border: 3px solid goldenrod;
    box-shadow: 0 0 10px #2c2c2c;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    color: black;
    background-color: bisque;
    border-radius: 20px;
}

label {
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: black;
}

label.error {
    display: block;
    color: red;
    font-weight: bold;
}